
body{
    position: relative;
    padding-top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(109, 122, 52);;
    }
        
nav {
    background-color: #344735;
    color: #fff;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    }
    
nav ul li {
    display: inline;
    margin-right: 10px;
    }
    
nav ul li a {
    color: #fff;
    text-decoration: none;
    }
    
.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(109, 122, 52);
    padding: 35px;
    text-align: center;
    padding-bottom: 0px;
    }
    
        
.header-title {
    display: inline-block;
    font-weight: 1000px;
    font-size: 40px;
    vertical-align: middle;
    color: #fff;
    padding-bottom: 20px;
    font-style: italic;
    }
    
img {
    width: 1200px;
    height: 700px ;
    right: 500px;
    padding-left: 0px; 
}
    
.image-with-text {
    width: 1700px; /* Adjust the width to accommodate the image and text */
    margin-left: 20%;
    }
    
.image-with-text img {
    
    width: 900px;
    height: 700px;
    float: left; /* Float the image to the left */
    }
    
.text-container {
    float: left; /* Float the text container to the left */
    margin-left: 20px; /* Adjust the spacing between the image and text */
    margin-top: 200px;
    }
    
.text-container h1 {
    margin: 0; /* Remove default margins for the paragraph */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#344735
    }

.cart {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
        
.cart-title {
    font-weight: bold;
     margin-bottom: 5px;
    }
        
.cart-items {
    color: #888;
    font-size: 14px;
    }
    
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 20px; /* Adjust the gap between products */
    }
    
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top : 900px;
    margin-left: -10px;
    margin-bottom: 40px;
    }
    
.product {
    /* outline: auto; */
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: calc(33.33% - 40px); /* Adjust the width to fit three products in a row */
    }
        
.product img {

    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    }
        
.product-name {
    margin-top: 10px;
    font-weight: bolder;
    font-size: larger;
    }
        
.product-price {
    margin-top: 5px;
    color: #444040;
    }
        
.add-to-cart {
    margin-top: 10px;
    background-color: #36b93b;
    color: white;
     border: none;
     padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    }
    
.product-list img {
    width: 250px;
     height: 250px;
     object-fit: cover;
     border-radius: 5px;
    padding-left: 500px;
    }
    
.product-list {
    margin-bottom: 20px;
    }
        
.product-list table {
    width: 100%;
    border-collapse: collapse;
    }
        
.product-list th, .product-list td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #201c1c;
    }
        
.product-list th {
    background-color: #f2f2f2;
    }
        
.product-list .product-quantity input {
    width: 40px;
    }
        
.product-list .product-amount {
    font-weight: bold;
    }
        
.total-amount {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    }
        
.checkout-button {
    background-color: #36b93b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    }